.reaD{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26, 26, 240);
    border-left: 10px solid red;
    background-color: rgb(212, 218, 221);
    height: 120px;
}
h2{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 44, 46);
    border-left: 10px solid rgb(65, 22, 219);
}
h3{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 44, 46);
    border-left: 10px solid rgb(65, 22, 219);
}
p{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(115, 115, 121);
    border-left: 10px solid rgb(65, 22, 219); 
}